# Default ignored files
/../../ConsumodeSWAPI /.idea/shelf/
/../../ConsumodeSWAPI /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../ConsumodeSWAPI /.idea/httpRequests/
# Datasource local storage ignored files
/../../ConsumodeSWAPI /.idea/dataSources/
/../../ConsumodeSWAPI /.idea/dataSources.local.xml
